*{
    margin: 0;
}
.pinkPlate{
    display: flex;
    width: 100%;
    height: 40px;
    background-color:#fee8e8;
    align-items: center;
    justify-content: space-around;
}
.pinkPlate>div:nth-child(2){
    cursor: pointer;
}
.ppChild{
    width: 60%;
    font-size: .85rem;
    font-weight: 600;
}
.ppChild>div>a:hover{
    cursor: pointer;
}
.ppChild>div>a{
    color: black;
    text-decoration: none;
}
.ppChild>div>span{
    color:#ff9797;;
}
.ppChild>div>span:hover{
    cursor: pointer;
}
.ppChild>div{
    display: flex;
    gap: 20px;
}
.logoLine{
    display: flex;
    width: 100%;

    /* background-color: red ; */
    align-items: center;
    justify-content: space-around;
}
.llChild{
    display: flex;
    /* justify-content: center; */
    gap: 20px;
    align-items: center;
    width: 60%;
    /* background-color:blue; */
    /* height: 100%; */
}
.llChild>img{
    cursor: pointer;
}
.search{
    width: 60%;
    padding: 12px;
    margin: 13px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}
.icons{
    display: flex;
}
.icons a{
    color: black;
    text-decoration: none;
}
.icons:hover{
    cursor: pointer;
}
nav{
    padding: 10px;
}
#nav{
    height: 164px;
    border: 1px solid whitesmoke;
}
nav>ul{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    width: 85%;
}
nav>ul>li>a{
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1px;
    border-bottom: 10px;
    /* border: 5px solid red; */
}
nav>ul>li>a:hover{
    color: black;
    text-decoration: underline violet;
}
.gif{
    cursor: pointer;
    margin-top: 20px;
}
#carousel{
    margin-top: 20px;
    cursor: pointer;
}
#carousel>img{
    /* position: absolute; */
    /* height: 420px; */
}
.bdslider{
    margin-top: 40px;
}
.bdslider>img{
    width: 100rem;
    /* border: 2px solid red; */
}
#bdoffer{
    width: 100%;
    height: 20rem;

    background-color: whitesmoke;
    /* margin: 30px; */
    display: flex;
    justify-content: space-evenly;
}
#bdoffer>div{
    margin: auto;
}
#bdoffer>div>img{
    width: 300px;
    height: 209px;
}
#bdoffer>div>h3{
    text-align: center;
    font-size: medium;
}
#bestseller{
    margin-top: 40px;
    margin-bottom: 30px;
}
#bestseller>img{
    width: 100rem;
}
.bschild{
    width: 80%;
    display: flex;
    margin: auto;
    gap: 40px;
}
.bschild>div{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    width: 80%;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    transition: transform .2s; /* Animation */
}
.bschild>div:hover{
    /* color: hotpink; */
    cursor: pointer;
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.bschild>div>img{
    height: 268px;
    width: 268px;
}
#bsparent{
    width: 100%;
}
/* footer  */
footer{
    width: 100%;
    height: 50rem;
    /* background: #000; */
    color: black;
}
footer>#footer>.ulparent>.footerul>li{
    list-style: none;
}
#footer{
    /* padding: 10px; */
    padding: 50px 40px 0px 40px;
    display: flex;
    margin: auto;
    justify-content: center;
}
.firstel{
    color: gray;
    font-size: 12px;
}
footer li{
    line-height: 1.5rem;
}
.ulparent>.footerul>.firstel:hover{
    color: gray;
    font-weight: 600;
}
.footerul>li:hover{
    color: hotpink;
}
/* iframe{
    margin-top: 30px;
} */
.carousel-inner{
    margin-top: 20px;
}
.beware{
    display: flex;
    width: 100%;
    height: 150px;
    /* border: 2px solid red; */
}
.beware>img{
    width: 100vw;
    margin: auto;
}

.cover{
    display: flex;
    width: 100%;
    height: 150px;
    /* border: 2px solid red; */
}
.cover>img{
    width: 80%;
    margin: auto;
}
.invite{
    margin-top: 40px;
    width: 100%;
}
.invite>img{
    width: 100vw;

}
.black{
    width: 100%;
    height: 60px;
    background-color: black;
}
/* popup */
.loginpage,.signupnext{

    background-color: aquamarine;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
body{
    background-color: white;
}
.border {
    /* opacity: 0.7;     */
    background-color: rgba(253,253,253);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: auto;
    width: 500px;
    height: 580px;
    /* border: 2px solid red; */
}


.order {
    text-align: center;
    border: 2px solid whitesmoke;
}

.order>p {
    font-size: 14px;
}

#mobile {
    margin-top: 25px;
    height: 25px;
    margin-left: 40px;
    justify-content: center;
    width: fit-content;
    border-bottom: 3px solid black;

}

#mobile>a {
    font-weight: 600;
    text-decoration: none;
    color: black;
    /* text-decoration: underline black; */
}

.number {
    padding: 20px;
    display: flex;
    justify-content: center;

}

.number input {
    margin: 20px;
}

.number>form>input:nth-child(1) {
    padding: 15px;
    font-weight: 600;
    width: 70px;
    height: 25px;
    border: 2px solid gainsboro;
}

.number>form>input:nth-child(2) {
    padding: 15px;
    width: 230px;
    height: 25px;
    border: 2px solid gainsboro;
}

.number>form>input:nth-child(3) {
    background-color: gray;
    color: white;
    font-weight: bolder;
    width: 420px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid gray;
}

.third {
    display: flex;
    justify-content: space-evenly;
}

.third>button {
    padding: 10px;
    color: black;
    width: 200px;
    height: 45px;
    font-weight: 600;
    background-color: white;
}

.third>button:hover {
    cursor: pointer;
}

.terms {
    text-align: center;
}

.terms a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.terms a:hover {
    cursor: pointer;
}

.terms>p {
    color: rgba(51, 51, 51);
}

.continue {
    /* width:; */
    text-align: center;
    margin: 20px 0;
    border-bottom: 2px solid gray;
    font-weight: bold;
    font-size: 0.7rem;
}

.order>a {
    text-decoration: none;
    color: gray;
    display: flex;
    justify-content: right;
    padding-right: 11px;
    filter: grayscale();
}
#otp{
    display: flex;
    justify-content: space-evenly;
}
#otp input{
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
    padding: 10px;
    background-color: whitesmoke;
    height: 40px;
    width: 40px;
}
.resend{
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px 10px;
}
.order1{
    margin: 40px 10px;
    text-align: center;
    line-height: 2;
    font-weight: 600;
    /* border: 2px solid whitesmoke; */
}
.order1 p{
    font-size: 0.8rem ;
}
.order1 span{
    text-decoration: underline;
}

.order1>a {
    text-decoration: none;
    color: gray;
    display: flex;
    justify-content: right;
    padding-right: 11px;
    filter: grayscale();
}
.email>[type="text"]{
    width: 50%;
}